<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675551904827-modtmerccsncl1mut3s6k7d0v2hc8v0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675551904827-modtmerccsncl1mut3s6k7d0v2hc8v0m</string>
	<key>API_KEY</key>
	<string>AIzaSyCiLonYIfySE0T-bvYr1LIpfH-1LnZkyug</string>
	<key>GCM_SENDER_ID</key>
	<string>675551904827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.niopullus.Summon</string>
	<key>PROJECT_ID</key>
	<string>summon-7d950</string>
	<key>STORAGE_BUCKET</key>
	<string>summon-7d950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675551904827:ios:574a96a5e71522ee72481e</string>
	<key>DATABASE_URL</key>
	<string>https://summon-7d950.firebaseio.com</string>
</dict>
</plist>